.carousel {
  margin-top: calc(var(--common-size) / 1.2);
  margin-bottom: calc(var(--common-size) / 1.2);

  .carousel-item {
    height: auto;
    // .carousel-items & {}
  }
}
.carousel-pause {
  display: none !important;
}
.carousel-arrow {
  .icon {
    color: var(--black);
    border-color: var(--black);

    &:hover {
      border-color: #00ff00;
      // border-color: var(--black);
    }

    // &.has-icons-left {
    //   &::before {
    //     content: '\f141';
    //   }
    // }
    // &.has-icons-right {
    //   &::before {
    //     content: '\f142';
    //   }
    // }
  }
}
.is-active .al img {
  filter: grayscale(0%);
}
.al img {
  filter: grayscale(100%);
}
