.container:not(.is-max-desktop):not(.is-max-widescreen),
.container:not(.is-max-desktop) {
  // width: 100%;
  // max-width: 960px;
}

/* ============ Navbar */
div.navbar-item {
  @media screen and (max-width: #{$mqmob}px) {
    padding-top: 0;
  }
}
a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover,
a.navbar-item.is-active,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
.navbar-link.is-active {
  background: none;
  color: var(--white);
}

/* ============ Components */
/* Component: Card */
.card {
  box-shadow: none;
  // border: 1px solid lighten($color: #000, $amount: 50);

  .card-content {
    padding: rem-calc(15);
  }
}
