.projects {
  display: flex;
  flex-wrap: wrap;

  &__project-card-li {
    $card-width: 31%;
    display: flex;
    flex: 1 0 100%;

    @media screen and (min-width: #{$mqtab}px) {
      flex: 1 0 $card-width;
      max-width: $card-width;
      margin: 0 calc(var(--common-size) / 2) calc(var(--common-size) / 2) 0;
    }
  }

  &__project-card-a {
    flex: 1 0 100%;
    border: solid 1px lighten($color: #000, $amount: 90);
    transition: all 0.1s ease;
    border-radius: 0;

    .card-image {
      overflow: hidden;
    }
    img {
      transition: all 0.2s ease;
    }
    &:hover {
      border: solid 1px lighten($color: #000, $amount: 60);

      img {
        transform: scale(1.02);
      }
    }
  }
}
